/* PROJETOS */
.projetos .container-projetos {
    display: grid;        
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;   
}

@media(max-width: 1280px) { 
    .projetos .container-projetos {
        padding: 0 var(--mobile-padding);
    }
}

.projetos .container-projetos .projeto {
    border-radius: 5px;
    border: 1px solid var(--cor-primaria);
}

.projetos .container-projetos .projeto .informacoes {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;
    padding: 5px;
}


.projetos .container-projetos .projeto .informacoes h6{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.projetos .container-projetos .projeto .informacoes-projeto p:nth-child(2) {
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.5rem;
}

.projetos .container-projetos .projeto h3 {
    font-size: 2rem;
    font-weight: 500;    
    background-color: var(--cor-primaria);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
